.navbar {

  margin-bottom: 0px;
  border-radius: 0px;

  &.navbar-default {
    border-top: 4px solid #17aa1c;;
  }
}

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 55px;
    left: 225px;
    width: 225px;
    height: 100%;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #fff;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 225px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #e7e7e7 !important;
  }
}