.button {
  background: #e4e2e2;

  &.link {
    padding: 8px;
    border-radius: 4px;
    height: 36px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.8;
    color: #5d5d5e;
    text-shadow: none;
  }
}