.curriculum {
    display: inline-block;
    width: 1000px;
    min-height: 250px;

    video{
        min-width: 470px;
        min-height: 264px;
    }

    .curriculum-items-list {
        background: #ffffff;
        height: 100%;
        overflow: hidden;
        -webkit-box-align: center;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;

        .curriculum-section-container {
            width: 100%;
            overflow: hidden;

            .section-title {
                padding: 2px 0 0;
                border-bottom: 1px solid #E0E0E0;
                background-color: #EDEDED;

                h5{
                    margin: 10px 15px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }

    .curriculum-item-container {
        .curriculum-item {
            position: relative;
            border-bottom: 1px solid #f0f0f0;
            display: block;
            -webkit-transition: background 0.15s ease-in-out;
            -moz-transition: background 0.15s ease-in-out;
            -o-transition: background 0.15s ease-in-out;
            transition: background 0.15s ease-in-out;
        }

        .ci-progress-container {
            background: #fff;
            border: 1px solid #e7e7e7;
            border-radius: 50%;
            left: 10px;
            line-height: 0;
            padding: 1px;
            position: absolute;
            top: 9px;
            z-index: 1;
            width: 20px;
            height: 20px;
        }

        .ci-info {
            border-left: 1px solid #f0f0f0;
            margin-left: 20px;
            padding: 6px 0 10px 10px;
            position: relative;

            .ci-title {
                color: #888888;
                -webkit-transition: color 0.15s ease-in-out;
                -moz-transition: color 0.15s ease-in-out;
                -o-transition: color 0.15s ease-in-out;
                transition: color 0.15s ease-in-out;
                font-size: 13px;
                font-weight: 500;
                padding: 3px 25px 0 5px;
                line-height: 18px;
                margin: 0;
            }

            .ci-details-container {
                margin-top: 3px;
                font-size: 14px;

                .ci-details {
                    color: #bbbbbb;
                    -webkit-transition: color 0.15s ease-in-out;
                    -moz-transition: color 0.15s ease-in-out;
                    -o-transition: color 0.15s ease-in-out;
                    transition: color 0.15s ease-in-out;
                    display: inline-block;
                    padding: 0 6px;
                }
            }
        }
    }
}
