.coursevideo {

    padding: 10px;

    input[type=file] {
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .form-upload{
        text-align: center;
        border: 1px dashed #cccccc;
        border-radius: 5px;
        padding: 10px;

        .fa-3{
            color: #879CAB;
        }
    }

    #filelist{
        margin-top: 20px;

        .progress{
            background-color: #eee;
        }
    }
}