.header {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 3;
  box-shadow: 0 1px 2px #ccc;

  .fa-al {
    width: 20px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
  }

  .header-inner {
    padding: 0 5px;
    border-top: 4px solid #2e83b7;
    height: 52px;
  }

  .button-link {
    padding: 8px;
    border-radius: 4px;
    height: 36px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #5d5d5e;
    text-shadow: none;
  }

  .open {
    .button-link {
      background: #e4e2e2;
    }

    .dropdown-toggle {
      box-shadow: none;
    }
  }

  .button-link-btn.on,
  .button-link-btn:hover {
    background: #e4e2e2;
  }

  .dropdown-toggle {
    height: 50px;
  }

  .btn-group .dropdown-menu:before {
    content: '';
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #fff;
    top: 0px;
    left: 10px;
    box-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    z-index: -1;
    margin-top: -4px;
  }

  .dropdown-menu.pull-right:before {
    left: auto;
    right: 10px;
  }
}

.search-wrap {
  padding: 10px 0px;
  margin-left: 15px;

  .search {
    position: relative;

    .search-input {
      background: #e4e2e2;
      border: 0;
      padding: 8px 40px 8px 10px;
      outline: none !important;
      color: #5d5d5e;
      font-style: italic;
      width: 245px;
      height: 20px;
      border-radius: 4px;
      box-sizing: initial;
    }

    .search-btn {
      background: transparent;
      border: 0;
      font-size: 18px;
      color: #5d5d5e;
      position: absolute;
      top: 50%;
      right: 0;
      margin: -12px 0 0 -30px;
    }
  }
}